*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;;
}
:root{
    --primary-background-color: white;
    --primary-font-color: black;
    --secondary-color: #12aaebfe;
    --third-color: lightgray;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-background-color);
}
header{
    width: 100%;
    height: 9vh;
    border-bottom: 1px solid var(--third-color);
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>a{
    text-decoration: none;
    font-size: 1.5rem;
    text-decoration: underline;
    color: var(--primary-font-color);
}
nav>span>a{
    text-decoration: none;
    margin-left: 20px;
    color: var(--primary-font-color);
}
.resumeDownload{
    padding: 1vh;
    border-radius: 1vh;
    color: var(--primary-background-color);
    background-color: var(--secondary-color);
}
.contactButton{
    font-size: 1.1rem;
    font-weight: 450;
    color: var(--secondary-color);
}
#hero{
    width: 100%;
    max-width: 1024px;
    border-bottom: 1px solid var(--third-color);
    height: 250px;
    display: flex;
}
.profilePicture{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePicture>div{
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}
.profilePicture>div>img{
    width: 100%;
}
#hero>div:nth-child(2){
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
}
.aboutMe{
    display: flex;
    gap: 20px;
}
.name{
    font-size: 1.2rem;
}
.aboutMe>div>a{
    text-decoration: none;
    color: var(--primary-font-color);
    font-weight: 550;
    font-size: 1rem;
    background-color: var(--third-color);
    padding: 1vh 1.5vw;
    border-radius: 1vh;
}
.githubInfo{
    display: flex;
    gap: 25px;
    color: gray;
}
.githubInfo>div>span{
    font-weight: 400;
    color: var(--primary-font-color);
}
.contactNo{
    font-weight: 500;
}
.contactNo>div{
    width: fit-content;
    padding: 0.5vh 2vh;
    font-weight: 400;
    border-radius: 0.7vh;
    margin-top: 5px;
    display: flex;
    background-color: var(--third-color);
}
.projectOptions{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: gray;
}
.projectOptions>div{
    padding: 1vh;
}
.active{
    color: black;
    border-top: 1px solid;
}
.allProjects{
    max-width: 1024px;
    width: 1024px;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.allProjects>div{
    width: 32%;
    height: 500px;
    border: 1px solid black;
}